<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SEO Reports </title>
  </head>
  <body>
    <a href="" onclick="Auth.yandex(); return false;">login</a>
  </body>
  <script type="text/javascript">
    params = window.location.hash.split('#')[1].split('&');
   
    var parse = function(str){ 
      var params = {};
      if( ! str.length ) return params; 

      str.map(function(keyValue){
        data = keyValue.split('='); 
        params[data[0]] = data[1];
      }); 
      return params; 
    }

    var data = parse(params);
    console.log(data); 
  </script>
</html> 
